<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.springboot.dao.UserMapper">

    <resultMap type="com.learn.springboot.entity.User" id="userMap">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="id" property="id" />
    </resultMap>

    <select id="getUsers" resultType="com.shyroke.bean.UserBean"
            resultMap="userMap">
        select * from users
    </select>

    <select id="update" parameterType="com.shyroke.bean.UserBean">
        update users set
        user_name=#{userName},pass_word=#{passWord},create_time=#{createTime}
        where
        id=#{id}
    </select>

    <select id="del" parameterType="java.lang.Integer">
        delete from users where id=#{id}
    </select>

    <select id="save" parameterType="com.shyroke.bean.UserBean">
        insert into users(user_name,pass_word,create_time) values(#{userName},#{passWord},#{createTime})
    </select>

</mapper>